<a href="https://colab.research.google.com/github/MythilyCrazy/Practice/blob/main/pynative.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def mythily():
  print("I am mythily")

In [ ]:
mythily()

I am mythily

In [ ]:
def add(a,b):
  print(a+b)

In [ ]:
add(7,8)

15

In [ ]:
def rem(a,b):
  r = a%b
  print(r)

In [ ]:
rem(11,8)

3

In [ ]:
t=[8,0,9,5]

print(t[::-1])

[5, 9, 0, 8]

In [ ]:
num1 = int(input("enter a number1 : "))
num2 = int(input("enter a number2 : "))
if (num1*num2)<=1000:
  print(num1*num2,"product")
else:
  print(num1+num2,"sum")

enter a number1 : 20
enter a number2 : 52
72 sum

In [ ]:
#Print the sum of the current number and the previous number
for i in range(0,10):
  current_num = i
  previous_num = i-1
  sum = current_num + previous_num

  print(current_num,previous_num,sum)

0 -1 -1
1 0 1
2 1 3
3 2 5
4 3 7
5 4 9
6 5 11
7 6 13
8 7 15
9 8 17

In [ ]:
R = int(input("enter no.of.rows : "))
C = int(input("enter no.of.coloums : "))
matrix = []
print("enter the values in row wise : ")


for i in range(R):
  a=[]
  for j in range(C):
    a.append(int(input()))
  matrix.append(a)

for i in range(R):
  for j in range(C):
    print(matrix[i][j]*27
        ,end=" ")
  print()

enter no.of.rows : 2
enter no.of.coloums : 3
enter the values in row wise :
1
2
3
4
5
6
2 4 6
8 10 12

In [ ]:
lst=[x**2 if x%2==1 else x*2 for x in range(1,11)]
print(lst)

[1, 4, 9, 8, 25, 12, 49, 16, 81, 20]

In [ ]:
str = 'My Name is Jessa'

In [ ]:
m=str.split()
m

['My', 'Name', 'is', 'Jessa']

In [ ]:
op = [m[::-1]for word in m]
op

[['Jessa', 'is', 'Name', 'My'],
 ['Jessa', 'is', 'Name', 'My'],
 ['Jessa', 'is', 'Name', 'My'],
 ['Jessa', 'is', 'Name', 'My']]

In [ ]:
def rev(sen):
   spl = sen.split()
   new = [words[::-1]for words in spl]
   jn = " ".join(new)
   return jn
str = "My name is mythily"
print(rev(str))

yM eman si ylihtym

In [ ]:
for i in range(1,6):
  for j in range(1,6):
    print(i,end=" ")

  print()

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    print(j,end=" ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    print(i,end=" ")
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
def extendList(val, list=[]):
 list.append(val)
 return list
list2 = extendList(123,[])
list2

[123]

In [ ]:
list (zip(('a' ,'b' ,'c'),(1,2,3)))

[('a', 1), ('b', 2), ('c', 3)]

In [ ]:
def calculateSq(n):
   return n*n
numbers = (2, 3, 4, 5)
result = map( calculateSq, numbers)
print(list(result))

[4, 9, 16, 25]

In [ ]:
def my_function(country = " "):
  print("I am from " + country)

In [ ]:
def factorial(n):
  if n==1:
    return n
  else:
    return(n*factorial(n-1))
n=int(input())
print("The factorial of given num ",n," is ",factorial(n))

4
The factorial of given num  4  is  24

In [ ]:


def compute_lcm(x, y):
   if x > y:
       greater = x
   else:
       greater = y
   while(True):
       if((greater % x == 0) and (greater % y == 0)):
           lcm = greater
           break
       greater += 1

   return lcm
num1 = int(input())
num2 = int(input())

print("The L.C.M. is", compute_lcm(num1, num2))

4
25
The L.C.M. is 100

In [ ]:
def fibo(n):
  if n<=1:
    return n
  else:
    return(fibo(n-1)+fibo(n-2))
term = int(input())
if term <= 0:
   print("Plese enter a positive integer")
else:
   print("Fibonacci sequence:")
   for i in range(term):
       print(fibo(i))

10
Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34

In [ ]:
al = 'A'
gal = input().strip()
for i in range(ord(al),ord(gal)+1):
  for j in range(ord(al),i+1):
    print(chr(i),end=" ")
  print()

K
A
B B
C C C
D D D D
E E E E E
F F F F F F
G G G G G G G
H H H H H H H H
I I I I I I I I I
J J J J J J J J J J
K K K K K K K K K K K

In [ ]:
al = 'A'
gal = input().strip()
count = 1
for i in range(ord(al),ord(gal)+1):
  print(chr(i)*count)
  count+=1

E
A
BB
CCC
DDDD
EEEEE

In [ ]:
def mat(a,m,n):
  for i in range(m):
    for j in range(n):
      if(a[i][j]%2==0):
        print(a[i][j],"even")
      else:
        print(a[i][j],"odd")
m=3
n=3
array = [[1,2,3],
          [4,5,6],
          [7,8,9]]
print(mat(array,m,n))

1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
None
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
num = int(input("enter a number : "))
for i in range(num,0,-1):
  for j in range(0,i):
    print(i,end=" ")
  print()

enter a number : 5
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [ ]:
num = int(input("enter a number : "))
for i in range(1,num+1):
    for j in range(0,i):
       print(i,end=" ")
    print()

enter a number : 5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
num = int(input("ent num"))

In [ ]:
"abdc1321".isalnum()

True

In [ ]:
"xyz@123$".isalnum()

False

In [ ]:
arr2 = [1,2,3,4]
import numpy as np
x= np.delete(arr2,0)
print(x)

[2 3 4]

In [ ]:
list1=[2,33,222,14,25]
list1[-1]

25

In [ ]:
i = 1
while True:
  if i%3 == 0:
    break
  print(i)
  i += 1

1
2

In [ ]:
for i in [1, 2, 3, 4][::-1]:
  print (i)

4
3
2
1

In [ ]:
A = [[1, 2, 3],
[4, 5, 6],
[7, 8, 9]]
A[1][2]

6

In [ ]:
num = int(input("enter number to check the number is armstrong num or not - "))
order = len(str(num))
sum = 0
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** order
   temp //= 10
if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

enter number to check the number is armstrong num or not - 153
153 is an Armstrong number

In [ ]:
list1 = [1,2,3,4,5,6,7,8,9,10]
for i in list1:
  print(i**2)

1
4
9
16
25
36
49
64
81
100

In [ ]:
max_dict = {"Radha":92,"Mythily":79,"Arthi":88}
new_max = max_dict.values()
max_val = max(new_max)
print("maximum value of dictionary is",max_val)

maximum value of dictionary is 92

In [ ]:

import pandas as pd
import numpy as np
dict = {'First Score':[100, 90, np.nan, 95],
		'Second Score': [30, 45, 56, np.nan],
		'Third Score':[np.nan, 40, 80, 98]}
df = pd.DataFrame(dict)
df.isnull()

   First Score  Second Score  Third Score
0        False         False         True
1        False         False        False
2         True         False        False
3        False          True        False